!!! 5
html
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='stylesheet', href='/css/bundle.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Cabin:400,600,400italic')

    body
        #login.container
            .row
                .span12
                    #logo Did You Catch That?
                    section
                        h2 Where are you?
                        ul.unstyled
                            li How accurate?
                                p #{location.accuracy}
                            li Latitude!
                                p #{location.latitude}
                            li longitude!
                                p #{location.longitude}
                            li When did this happen?
                                p #{location.timestamp}